<footer>
    <a href="https://www.linkedin.com/in/mat%C3%A9o-le-duc-0b0287210/">©MateoLDC</a>
</footer>

<style>
    @import url('variables.css');
    footer{
        padding: 2rem 0 2rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    a{
        color: #424242;
        font-family: var(--Exo2);
        font-size: small;
        font-weight: bold;
    }
</style>