---
import {Icon} from 'astro-icon/components'
---

<div class="SocialContainer">
    <div class="line"></div>
    <h3>Nous suivre / contacter !</h3>
    <div class="SocialLinks">
        <a href="https://www.instagram.com/potescafe/" id="SocialLink" target="_blank">
            <Icon id="SocialIcon" name="instagram"/>
        </a>
        <a href="https://www.facebook.com/profile.php?id=61569846267594" id="SocialLink" target="_blank">
            <Icon id="SocialIcon" name="facebook"/>
        </a>
        <a href="mailto:potescafe@gmail.com?subject=Sujet du message" id="SocialLink" target="_blank">
            <Icon id="SocialIcon" name="envelope-regular"/>
        </a>
    </div>
</div>

<style>
    @import url('variables.css');
    .SocialContainer{
        padding: 2rem 0 2rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .line{
        width: 20rem;
        border: 1px dashed #FAA721;
        margin-bottom: 1rem;
    }

    .SocialLinks{
        display: flex;
        gap: 3rem;
    }

    a{
        font-size: 2rem;
        text-decoration: none;
        color: var(--primary-color);
    }

    #SocialIcon:hover{
        cursor: pointer;
    }
</style>