@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin:wght@100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    /* Couleurs */
    --primary-color: white;
    --secondary-color: black;
    --text-color: white;
    --background-color: #1c1c1c;
    /* youtube color */
    --youtube-color: rgba(255, 0, 0, 0.5);
    --youtube-text-color: white;
    /* spotify color */
    --spotify-color: rgba(30, 215, 96, 0.5);
    --spotify-text-color: white;
    /* deezer color */
    --deezer-color: rgba(162, 55, 255, 0.5);
    --deezer-text-color: white;
    /* castbox color */
    --castbox-color-1: rgba(254, 151, 81, 0.5);
    --castbox-color-2: rgba(252, 70, 23, 0.5);
    --castbox-text-color: white;
    /* podcast addict color */
    --podcastaddict-color-1: rgba(242, 132, 48, 0.5);
    --podcastaddict-color-2: rgba(232, 98, 42, 0.5);
    --podcastaddict-text-color: white;
    --footer-color: #424242;

    /* Shadow */
    --shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    --shadow-hover: rgba(0, 0, 0, 0.35) 0px 10px 30px;

    /* font */
    --MPCL: "M PLUS Code Latin", serif;
    --Exo2: "Exo 2", serif;
}
