@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin:wght@100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    /* Couleurs */
    --primary-color: #faa721;
    --secondary-color: black;
    --text-color: white;
    /* youtube color */
    --youtube-color: #ff0000;
    --youtube-text-color: white;
    /* spotify color */
    --spotify-color: #1ed760;
    --spotify-text-color: white;
    /* deezer color */
    --deezer-color: #a237ff;
    --deezer-text-color: white;
    /* castbox color */
    --castbox-color-1: #fe9751;
    --castbox-color-2: #fc4617;
    --castbox-text-color: white;
    /* podcast addict color */
    --podcastaddict-color-1: #f28430;
    --podcastaddict-color-2: #e8622a;
    --podcastaddict-text-color: white;
    /* instagram color */
    --instagram-color: #833ab4;
    /* facebook color */
    --facebook-color: #0165e1;
    /* mnstagram color */
    --mail-color: #ea4235;

    /* Shadow */
    --shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    --shadow-hover: rgba(0, 0, 0, 0.35) 0px 10px 30px;

    /* font */
    --MPCL: "M PLUS Code Latin", serif;
    --Exo2: "Exo 2", serif;
}
