<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/src/assets/PotesCafeLogoRounded.svg" />
		<title>PotesCafe</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	@import url('/src/components/variables.css');
	html,
	body {
		margin: 0;
		width: 100vW;
		height: 100vh;
		font-family: var(--MPCL);
		background-image: url(/src/assets/bg.svg);
		background-size: cover;
    	background-position: center;
    	background-repeat: no-repeat;
    	background-attachment: fixed;
		color: white;
		display: flex;
		flex-direction: column;
	}
</style>
